/* uni-app默认全局使用flex布局。因为flex布局有利于跨更多平台，尤其是采用原生渲染的平台。如不了解flex布局，请参考http://www.w3.org/TR/css3-flexbox/。如不使用flex布局，请删除或注释掉本行。*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, page {
  min-height: 100%;
  display: flex;
}
body {
  line-height: 1.4;
  color: $e-3;
  font-size: 26rpx;
  font-family: -apple-systee-font, microsoft yahei;
  background-color: $e-lightGray;
}
image {
  will-change: transform
}
button::after
{
  border: none;
}
/* #ifdef MP-BAIDU */
page {
  width: 100%;
  height: 100%;
  display: block;
}

swan-template {
  width: 100%;
  min-height: 100%;
  display: flex;
}

/* 原生组件模式下需要注意组件外部样式 */
custom-component {
  width: 100%;
  min-height: 100%;
  display: flex;
}

/* #endif */

/* 原生组件模式下需要注意组件外部样式 */
m-input {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #efeff4;
  padding: 0 20rpx 20rpx 20rpx;
}

.input-group {
  background-color: #ffffff;
  margin-top: 40rpx;
  position: relative;
}

.input-group::before {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 1rpx;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}

.input-group::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1rpx;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}

.input-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.input-row .title {
  width: 20%;
  height: 50rpx;
  min-height: 50rpx;
  padding: 15rpx 0;
  padding-left: 30rpx;
  line-height: 50rpx;
}

.input-row.border::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15rpx;
  height: 1rpx;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}

.btn-row {
  margin-top: 50rpx;
  padding: 20rpx;
}

button.primary {
  background-color: #0faeff;
}

/* TODO 解决手机浏览器上下滑动手势冲突 */
 //page, page>view {
 //  height: 100%;
 //  overflow: hidden;
 //}
.scroll {
  box-sizing: border-box;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

/* ··················· 布局 ··················· */
// 自动换行
.e-flex {
  display: flex;
  flex-wrap: wrap;
}

// 自动占满余量
.e-flex_auto{
  flex: 1;
  overflow: hidden;
}
.e-flex_ais {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.e-flex_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
// 上下居中
.e-flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.e-flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// 上下靠边
.e-flex_updown {
  display: flex;
  align-content: space-between;
}
.e-flex_lcenter {
  display: flex;
  align-items: center;
}


// 弹性布局
.e-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// 全屏白色背景
.e-full{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: $e-f;
  &.fixed{
    position: fixed;
    z-index: 9;
  }
}

/* ··················· 文字属性 ··················· */
.e-txtC {
  text-align: center;
}
.e-txtR {
  text-align: right;
}
.e-txtL {
  text-align: left;
}
.e-bold {
  font-weight: bold;
}
.e-font20{
  font-size: 20rpx;
}
.e-font22{
  font-size: 22rpx;
}
.e-font24{
  font-size: 24rpx;
}
.e-font28{
  font-size: 28rpx;
}
.e-font30{
  font-size: 30rpx;
}
.e-font32{
  font-size: 32rpx;
}
.e-font34{
  font-size: 34rpx;
}
.e-font36{
  font-size: 36rpx;
}
.e-font42{
  font-size: 42rpx;
}
.e-font44{
  font-size: 44rpx;
}

/* ··················· 颜色 ··················· */
.e-red{
  color: $e-red;
}
.e-blue {
  color: $e-blue;
}
.e-green{
  color: $e-green;
}
.e-yellow{
  color: $e-yellow;
}
.e-c0 {
  color: $e-0;
}
.e-c3 {
  color: $e-3;
}
.e-c6 {
  color: $e-6;
}
.e-c9 {
  color: $e-9;
}
.e-cb {
  color: $e-b;
}
.e-cf {
  color: $e-f;
}
.e-bgGray {
  background: $e-gray;
}
.e-bgWhite {
  background: $e-f;
}

/* ··················· 边距 ··················· */
.e-pd20 {
  padding: 20rpx;
}
.e-pl20 {
  padding-left: 20rpx;
}
.e-pr20 {
  padding-right: 20rpx;
}
.e-pt20 {
  padding-top: 20rpx;
}
.e-pb20 {
  padding-bottom: 20rpx;
}
.e-mt5 {
  margin-top: 5rpx;
}
.e-mb5 {
  margin-bottom: 5rpx;
}
.e-ml5 {
  margin-left: 5rpx;
}
.e-mr5 {
  margin-right: 5rpx;
}
.e-mt10 {
  margin-top: 10rpx;
}
.e-ml10 {
  margin-left: 10rpx;
}
.e-mr10 {
  margin-right: 10rpx;
}
.e-mb10 {
  margin-bottom: 10rpx;
}
.e-mt20 {
  margin-top: 20rpx;
}
.e-ml20 {
  margin-left: 20rpx;
}
.e-mr20 {
  margin-right: 20rpx;
}
.e-mb20 {
  margin-bottom: 20rpx;
}
.e-ml26 {
  margin-left: 26rpx;
}
.e-mt30 {
  margin-top: 30rpx;
}
.e-mb30 {
  margin-bottom: 30rpx;
}
.e-mb35 {
  margin-bottom: 35rpx;
}
.e-ml30 {
  margin-left: 30rpx;
}
.e-mt50 {
  margin-top: 50rpx;
}
.e-mb50 {
  margin-bottom: 50rpx;
}
.e-mt80 {
  margin-top: 80rpx;
}

/* ··················· 字间距 ··················· */
.e-lp1 {
  letter-spacing: -1px;
}

/* ··················· 行距 ··················· */
.e-lh1 {
  line-height: 1;
}
.e-lh {
  line-height: 1.5;
}
.e-lh2 {
  line-height: 2;
}
.e-lh3 {
  line-height: 3;
}
.e-lh4 {
  line-height: 4;
}

/* ··················· 按钮 ··················· */
.mini-btn {
  width: 150rpx;
  height: 40rpx;
  padding: 0 10rpx;
  margin: 10rpx 0;
  line-height: 40rpx;
  font-size: inherit;
}

/* ··················· 缩略 ··················· */
.e-omit1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.e-omit2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ··················· 1px border ··················· */
// border-top
.e-b-top {
  background-image:
      linear-gradient(0deg, $e-line 60%, transparent 40%),
      linear-gradient(90deg, transparent, transparent),
      linear-gradient(180deg, transparent, transparent),
      linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 100% 1px, 0, 0, 0;
}
.e-b-bottom {
  background-image:
      linear-gradient(0deg, transparent, transparent),
      linear-gradient(90deg, transparent, transparent),
      linear-gradient(180deg, $e-line 60%, transparent 40%),
      linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 100% 1px, 0;
}
.e-b-bottom-red {
  background-image:
      linear-gradient(0deg, transparent, transparent),
      linear-gradient(90deg, transparent, transparent),
      linear-gradient(180deg, $e-lightRed 60%, transparent 40%),
      linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 100% 1px, 0;
}
.e-b-left {
  background-image:
      linear-gradient(0deg, transparent, transparent),
      linear-gradient(90deg, transparent, transparent),
      linear-gradient(180deg, transparent, transparent),
      linear-gradient(270deg, $e-line 60%, transparent 40%);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 0, 1px 100%;
}
.e-b-rb {
  padding: 1px;
  background-image:
      linear-gradient(0deg, transparent, transparent),
      linear-gradient(90deg, $e-line 60%, transparent 40%),
      linear-gradient(180deg, $e-line 60%, transparent 40%),
      linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 1px 100%, 100% 1px, 0;
}
.e-b {
  padding: 1px;
  background-image:
      linear-gradient(0deg, $e-line 60%, transparent 40%),
      linear-gradient(90deg, $e-line 60%, transparent 40%),
      linear-gradient(180deg, $e-line 60%, transparent 40%),
      linear-gradient(270deg, $e-line 60%, transparent 40%);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  &.on{
    background-image:
        linear-gradient(0deg, $e-red 60%, transparent 40%),
        linear-gradient(90deg, $e-red 60%, transparent 40%),
        linear-gradient(180deg, $e-red 60%, transparent 40%),
        linear-gradient(270deg, $e-red 60%, transparent 40%);
    color: $e-red;
  }
}

/* ··················· 自定义项目组件类 ··················· */

// 带阴影边框
.e-box_p {
  width: auto;
  margin: 30rpx;
  padding: 35rpx 28rpx;
  background: $e-f;
  border-radius: 10rpx;
  box-shadow: 0rpx 10rpx 14rpx 1rpx rgba(0, 0, 0, 0.03);
}
.e-box_f {
  box-sizing: border-box;
  width: 100%;
  padding: 30rpx 26rpx;
  background: $e-f;
}

// 固定底部
.e-fixed_bottom{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  margin: 0 auto;
}
// 底部按钮栏
.e-bottom-btnGroup {
  height: 85rpx;
  background-color: #fff;
  padding: 12rpx 20rpx;
}